body {
    width: 96%;
    padding: 0;
    margin: 2%;
}
.mission td, .mission {
    background-color: rgba(242, 0, 0, 0.1);
}

table {
    width: 100%;
    max-width: 700px;
    border: 1px solid dimgrey;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}

td,
th {
    border: 1px solid;
    padding: 0.3rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


th {
    background-color: #4ec6e0;
    color: white;
    border: 1px solid dimgrey;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w20 {
    width: 20%;
}

.w15 {
    width: 15%;
}

.w10 {
    width: 10%;
}

input {
    width: 100%;
    max-width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 0px -2px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 1.3rem;
}
.legend {
    width: 170px;
}
.legend p {
    margin-bottom: 0;
}
button {
    font-size: 1rem;
    padding: .5rem 1rem;
    transition-duration: .4s;
    border-radius: 3px;
    border: 1px solid #4ec6e0;
}

button:hover {
    background-color: #4ec6e0;
}